@(message: String)

@template("Add data manually", "add.png"){
	<div id="map">
				<script>
					draw2("@routes.Assets.at("maps/data.json")");
				</script>
			</div>
			<div id="formDiv">
				<form action="@controllers.routes.Application.addPost()" id="addForm" method="post">
					<table class="formTable">
						<tr>
							<td>Name</td>
							<td><input type="text" name="name" /></td>
						</tr>
						<tr>
							<td>Surname</td>
							<td><input type="text" name="lastName" /></td>
						</tr>
						<tr>
							<td>Sex</td>
							<td>Male<input type="radio" name="sex" value="male" checked/> Female<input type="radio" name="sex" value="female" /></td>
						</tr>
						<tr>
							<td>Date of birth</td>
							<td><input type="date" name="dateOfBirth" /></td>
						</tr>
						<tr>
							<td>Civil status</td>
							<td>
							<select name="civilStatus">
								<option selected value="Single">Single</option>
								<option value="Married">Married</option>
								<option value="Widowed">Widowed</option>
								<option value="Separated">Separated</option>
								<option value="Divorced">Divorced</option>
							</select>
							</td>
						</tr>
					<!--<tr>
							<td>Personal identity number</td>
							<td><input type="text" name="pin" /></td>
						</tr> -->
						<tr>
							<td>Date of sign insurance</td>
							<td><input type="date" name="dateOfInsuranceSigning" /></td>
						</tr>
						<tr>
							<td>Date of insurance end</td>
							<td><input type="date" name="dateOfInsuranceEnding" /></td>
						</tr>
						<tr>
							<td>Location</td>
							<td><input type="text" name="location" id="location_input" value="Select location on the map" disabled/></td>
						</tr>
						<tr>
							<td>Type of insurance</td>
							<td>
								<select name="insuranceType">
									<option selected="selected" value="Health">Health</option>
									<option value="Life">Life</option>
									<option value="Casualty">Casualty</option>
									<option value="Car">Car</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>Insurance premium</td>
							<td><input type="text" name="insurancePremium"> &euro;</td>
						</tr>
						<tr>
							<td>Insurance value</td>
							<td><input type="text" name="insuranceValue"> &euro;</td>
						</tr>
					</table>
						<input type="submit" value="Add" /> <input type="reset" value="Reset" />
				</form>
			</div>
}
